<!doctype html>
<title>Qiita Articles</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
  <header>
    <div class=page>
      <h1><a href="/">Qiita Articles</a></h1>
    </div>

    {% if session['username'] %}
    <div>
      current user: {{ session['username'] }}
      <form action="/logout" method="GET" style="display: inline">
        <input type="submit" value="logout">
      </form>
    </div>
    {% endif%}
  </header>
  {% block login %}
  {% endblock %}
  {% block search %}
  {% endblock %}
</body>
